HELP.md
target/
instalador/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### Java ###
# Compiled class file
*.class

### VS Code ###
.vscode/
